.slide_2_74{
	background: url('./img/2_74.jpg');
	background-size: contain;
	position: relative;
	.header{
		position: absolute;
		left: calc(71px/2);
		top: calc(77px/2);
		width: calc(1033px/2);
		height: calc(51px/2);
		background: url('./img/header.png');
		background-size: contain;
		animation: fadeInRightShort .3s both;
	}
	.stomach-bad{
		position: absolute;
		left: 228px;
		top: 107px;
		width: 833px;
		height: 799px;
		background: url(./img/1_16.gif);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.panel{
		left: -53px;
		top: calc(337px/2);
		width: calc(858px/2);
		height: calc(797px/2);
		&:before{      
			background-color: #009c28;
			background-image: linear-gradient(144deg, #007829 0%, #5fc82a 100%);
		}
		.text_on_panel_1{
			width: calc(583px/2);
			height: calc(286px/2);
			transform: translate(-40%, -90%);
			background-image: url(img/text_on_panel.png);
			animation: fadeIn .3s 1.2s both;    
		}
		.text_on_panel_2{
			display: none;
		}
		.button{
			position: absolute;
			left: 50%;
			top: 75%;
		}    
	}
	.btn-text {
		left: 65%;
		width: 113px;
		height: 20px;
		background-image: url(img/btn-text.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.pointer_to_stomach{
		position: absolute;
		left: calc(947px/2);
		top: calc(521px/2);
		width: calc(415px/2);
		height: calc(200px/2);
		background-image: url('./img/pointer_to_stomach.png');
		background-size: contain;
		background-repeat: no-repeat;
		animation: fadeIn .3s both;
	}
	&[data-state='1']{
		.pointer_to_stomach{
			animation: fadeOut .3s both;
		}
		.stomach-bad{
			animation: fadeOut 1s linear 3s both;
		}
		.iberogast{
			position: absolute;
			left: 630px;
			width: 274px;
			height: 327px;
			background-image: url('./img/iberogast.png');
			background-size: contain;
			background-repeat: no-repeat;
			animation: scaleInUp 1.5s both .3s;
			opacity: 0;
			transition: opacity .3s 3s;
		}
		.panel{
			.button,
			.text_on_panel_1{
				animation: fadeOut .3s 3s both;
			}
			.text_on_panel_2{
				width: 293.5px;
				height: 286px;
				transform: translate(-45%, -55%);
				background-image: url(img/text_on_panel_2.png);
				/* transition: all .8s 1.5s; */
				animation: fadeIn 0.8s both 3s;
				display: block;
			}
		}
		.lights{
			position: absolute;
			top: 0;
			left: 0;      
			height: 100vh;
			animation: fadeIn 0.3s backwards .8s ;
			.light{
				width: 50px;
				height: 50px;
				position: absolute;        
				&.light_1{
					left: 581.5px;
					top: 538px;          
					background: url('./img/light_1.png');
					background-size: contain;
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_2{
					left: 543.5px;
					top: 443.5px;
					background: url('./img/light_2.png');
					background-size: contain;          
					animation: pulseTwo 1.8s 0.8s infinite;
				}
				&.light_3{
					left: 652px;
					top: 377.5px;
					background: url('./img/light_3.png');
					background-size: contain;          
					 /*animation: pulseThree 2.5s 0.8s infinite; */
					 animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_4{
					left: 814.5px;
					top: 402.5px;
					background: url('./img/light_4.png');
					background-size: contain;
					/*animation: pulseFour 1.8s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_5{
					left: 814.5px;
					top: 283.5px;
					background: url('./img/light_5.png');
					background-size: contain;
					/*animation: pulseThree 1.1s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_6{
					left: 893px;
					top: 323.5px;
					background: url('./img/light_6.png');
					background-size: contain;
					/*animation: pulseThree 1.8s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_7{
					left: 710.5px;
					top: 240px;
					background: url('./img/light_7.png');
					background-size: contain;
					/*animation: pulseFive 1.1s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_8{
					left: 760px;
					top: 333px;
					background: url('./img/light_8.png');
					background-size: contain;
					/*animation: pulseFour 2.8s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_9{
					left: 575px;
					top: 460px;
					background: url('./img/light_9.png');
					background-size: contain;
					/*animation: pulseFour 1.2s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_10{
					left: 808px;
					top: 530px;
					background: url('./img/light_10.png');
					background-size: contain;
					/*animation: pulseFour .8s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
				&.light_11{
					left: 878px;
					top: 488px;
					background: url('./img/light_11.png');
					background-size: contain;
					/*animation: pulseFive 1.8s 0.8s infinite;*/
					animation: pulseOne 1.9s 0.8s infinite;
				}
			}      
		}
		.stomach-good{
			position:absolute;
			left: 208px;
			top: 107px;
			width: 833px;
			height: 799px;
			background: url('./img/1_16_1.gif');
			background-size: contain;
			background-repeat: no-repeat;
			transition: background .5s 2.2s;
			animation: fadeIn 1s linear 3s both;
		}
		.pointer_to_stomach_1{
			position: absolute;
			left: 473px;
			top: 251.5px;
			width: 212.5px;
			height: 155.5px;
			background-image: url('./img/stomach_text_1.png');
			background-size: contain;
			background-repeat: no-repeat;
			animation: fadeIn .5s 3.3s both;
		}
		.pointer_to_stomach_2{
			position: absolute;
			left: 786.5px;
			top: 148.5px;
			width: 216px;
			height: 102px;
			background-image: url('./img/stomach_text_2.png');
			background-size: contain;
			background-repeat: no-repeat;
			animation: fadeIn .5s 3.8s both;      
		}
	}
}

@keyframes scaleInUp {
	from {
		top:0;
		transform: scale(0)
	}
	to {
		top: 270px;
		transform: scale(0.5);
	}
}

@keyframes fadeInAndOut {
	from {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	94%{
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes pulseOne{
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(3);
	}

	to {
		transform: scale(1);
	}
}

@keyframes pulseTwo{
	from {
		transform: scale(0.8);
	}

	50% {
		transform: scale(2.2);
	}

	to {
		transform: scale(0.8);
	}
}

@keyframes pulseThree{
	from {
		transform: scale(1.2);
	}

	25% {
		transform: scale(.9);
	}

	75%{
		transform: scale(2.8);
	}

	to {
		transform: scale(1.2);
	}
}

@keyframes pulseFour{
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(2.4);
	}

	to {
		transform: scale(1);
	}
}

@keyframes pulseFive{
	from {
		transform: scale(1.2);
	}

	25% {
		transform: scale(1.8);
	}

	75%{
		transform: scale(2);
	}

	to {
		transform: scale(1.2);
	}
}