.slide_1_13 {
  background-color: #dff8fe;
  .text_1 {
    position: absolute;
    left: 35px;
    top: 40px;
    width: 634px;
    height: 152px;
    background-image: url(img/text_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: fadeInRightShort .3s both;
  }
  .wrapper {
    position: absolute;
    left: 45%;
    animation: fadeIn .3s 1.3s both;
  }
  .panel {
    position: absolute;
    top: 156px;
    left: 428px;
    width: 730px;
    height: 489px;
    &:before {
      box-shadow: -20px 6px 35px rgba(0, 0, 0, 0.19);
    }
    &__text {
      left: 44%;
      display: none;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &__text_1 {
      width: 478px;
      height: 343px;
      background-image: url(img/state-text_1.png);
    }
    &__text_2 {
      width: 478px;
      height: 378px;
      background-image: url(img/state-text_2.png);
    }
    &__text_3 {
      width: 478px;
      height: 330px;
      background-image: url(img/state-text_3.png);
    }
    &__text_4 {
      width: 478px;
      height: 246px;
      background-image: url(img/state-text_4.png);
    }
    &__text_5 {
      width: 478px;
      height: 368px;
      background-image: url(img/state-text_5.png);
    }
  }
  input {
    display: none;
  }
  form {
    position: absolute;
    left: 88px;
    top: 227px;
    font-family: lato, sans-serif;
    color: #124b5a;
    font-size: 18px;
    font-weight: 400;
  }
  label {
    position: relative;
    p {
      margin-bottom: 30px;
    }
  }
  .checkbox__ellips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background-color: #b4dae4;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all .3s;
  }
  .checkbox-label {
    position: absolute;
    top: 0;
    left: -50px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, rgba(196, 231, 240, 1) 0%, rgba(232, 250, 255, 1) 100%);
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3), 0 -3px 3px rgba(255, 255, 255, .3);
    &_1 {
      top: 350px;
    }
  }
  input:checked+label .checkbox__ellips {
    box-shadow: none;
    background-color: #fff;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 11px;
      height: 11px;
      background: linear-gradient(to bottom, rgba(161, 237, 74, 1) 0%, rgba(85, 178, 37, 1) 100%);
      animation: zoomIn .3s both;
      transform-origin: 0% 0%;
    }
  }
  &[data-state="1"] {
    .panel__text_1 {
      display: block;
      animation-delay: 0s;
    }
  }
  &[data-state="2"] {
    .panel__text_2 {
      display: block;
      animation-delay: 0s;
    }
  }
  &[data-state="3"] {
    .panel__text_3 {
      display: block;
      animation-delay: 0s;
    }
  }
  &[data-state="4"] {
    .panel__text_4 {
      display: block;
      animation-delay: 0s;
    }
  }
  &[data-state="5"] {
    .panel__text_5 {
      display: block;
      animation-delay: 0s;
    }
  }
}
