.slide_1_37{
  background-image: url(img/bg.jpg); 
  background-size: 100%;
  .text_1 {
    position: absolute;
    left: 35px;
    top: 36px;
    width: 702px;
    height: 26px;
    background-image: url(img/text_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: fadeInRightShort .3s both;
  }
  .panel {
    top: 168px;
    left: -125px;
    height: 487px;
    width: 516px;
    .item_1 {
      position: absolute;
      left: 300px;
      top: 191px;
      width: 360px;
      height: 292px;
      background-image: url(img/item_1.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .button {
      left: 290px;
      top: 414px;
    }
  }
  .item_2 {
    position: absolute;
    left: 329px;
    top: 108px;
    width: 352px;
    height: 660px;
    background-image: url(img/item_2.png); 
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Style for "item_3" */
  .item_3 {
    position: absolute;
    display: none;
    top: 205px;
    width: 978px;
    height: 298px;
    background-image: url(img/item_3.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  /* Style for "item_4" */
  .item_4 {
    position: absolute;
    display: none;
    left: 299px;
    top: 108px;
    width: 432px;
    height: 625px;
    background-image: url(img/item_4.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .iberogast{
    left: 162px;
    width: 113px;
    height: 20px;
    background-image: url(img/iberogast.png);
    background-repeat: no-repeat;
    background-size: 100%;
    pointer-events: none;
  }

  &[data-state='1'] {
    .panel {
      transition: all .5s;
      width: 1090px;
    }
    .item_1,
    .item_2 {
      display: none;
    }
    .item_3,
    .item_4 {
      animation: fadeIn .3s both;
      display: block;
    }
  }
}