.slide_1_03 {
  background-size: 100%;
  background-image: url(./img/1_03.jpg);
  .text {
    position: absolute;
    left: 78px;
    top: 77px;
    width: 552px;
    height: 163px;
    background-size: 100%;
    background-image: url(./img/text_1.png);
    background-repeat: no-repeat;
    animation: fadeInRightShort .3s both;
  }
  .horizontal-slider {
    left: 77px;
    top: 567px;
  }
  .slider-value {
    position: absolute;
    left: 682px;
    top: 540px;
    color: #5fc82a;
    font-family: sans-serif;
    font-size: 80px;
  }


}
