.slide_1_59 {
  background-image: url(./img/1_59.jpg);
  background-size: 100%;
.text {
  position: absolute;
  left: 34px;
  top: 36px;
  width: 612px;
  height: 58px;
  background-image: url(./img/text_1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fadeInRightShort .3s both;
}
}
