.slide_1_14 {
  background-image: url(img/1_14.jpg);
  background-size: 100%;
  .panel {
    left: -50px;
    top: 123px;
    width: 555px;
    height: 333px;
    &__text_1 {
      top: 40%;
      left: 40%;
      width: 263px;
      height: 205px;
      background-image: url(img/text_1.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &__item {
      position: absolute;
      top: 30%;
      left: 20%;
      width: 452px;
      height: 240px;
      transform: none;
      background-image: url(img/item_1.png);
      background-size: 452px 240px;
      animation: fromWidthZero .3s 2s both;
    }
  }
  .item_2 {
    position: absolute;
    left: 335px;
    top: 30px;
    width: 676px;
    height: 668px;
    background-image: url(img/item_2.png);
    background-size: 100%;
}
}
