.slide_1_26 {
  background-image: url(./img/1_26.jpg);
  background-size: 100%;
.text {
  position: absolute;
  left: 52px;
  top: 141px;
  width: 265px;
  height: 224px;
  background-image: url(./img/text_1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fadeInRightShort .3s both;
}

.text_2 {
  position: absolute;
  left: 53px;
  top: 459px;
  width: 300px;
  height: 109px;
  background-image: url(./img/text_2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fadeInRightShort .3s both .3s;
}

}
