.global{
  .logo{
    position: absolute;
    left: 930px;
    top: 26px;
    width: 65px;
    height: 65px;
    background-image: url("img/logo.png");
    background-size: 65px 65px;
    animation: fadeIn .5s both;
  }

  .bookmark{
   position: absolute;
   left: 35px;
   top: 0px;
   width: 114px;
   height: 8px;
   background-color: #008848;
   animation: popBookmark 1s 1.5s both;
   transform-origin: 0 100%; 
 }

}


@keyframes popBookmark {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: none;
  }
}
